body {
	background-color: #f6f5f5;
	margin: 0px;
	padding: 0px;
}
ul {
	list-style: none;
}

a {
	text-decoration: none;
}
section {
	width: 100%;
	height: 95vh;
	background-image: url(./adam-hoang-LwAh8Dchf5E-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: white;
	box-shadow: 2px 2px 12px bisque;
	padding: 0px 5%;
}
nav ul {
	display: flex;
}
nav ul li:active {
	transform: scale(1.2);
}
nav ul li a {
	margin: 30px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}
.logo {
	font-family: RoadTest;
	color: black;
	font-size: 22px;
}
.bar {
	font-weight: bold;
	color: coral;
}
.text-container p:nth-child(1) {
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;
}
.text-container p:nth-child(2) {
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #1a1a1a;
	font-size: 60px;
}
.text-container p:nth-child(3) {
	font-family: calibri;
	font-weight: bold;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
}
.text-container p {
	line-height: 0px;
	margin: 45px 0px 25px;
}
.text-container {
	position: absolute;
	left: 13%;
	top: 30%;
	transform: translate(-5%, 15%);
}
.text-container button {
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}
.cv {
	background-color: darkgrey;
	color: black;
	border: none;
}
.hire-btn {
	border: 2px solid darkcyan;
	color: darkcyan;
}
button:active {
	transform: scale(1.2);
}
/*the image model*/
.model {
	height: 540px;
	position: absolute;
	bottom: 0px;
	top: 10%;
	left: 70%;
	transform: translateX(-50%);
}

.about-container {
	width: 80%;
	height: 330px;
	background-color: whitesmoke;
	border-radius: 20px;
	box-shadow: 2px 2px 12px bisque;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 0% auto 20px auto;
	position: relative;
}
/*the image me*/
.about-container img {
	height: 320px;
	width: 320px;
	border-radius: 50%;
}
.about-text {
	width: 550px;
}
.about-text P:nth-child(1) {
	color: #403e3e;
	font-weight: bold;
	font-size: 23px;
	font-family: arial;
	line-height: 0px;
	text-transform: uppercase;
}
.about-text P:nth-child(2) {
	color: #3e3d3d;
	font-weight: bold;
	font-size: 16px;
	font-family: arial;
	line-height: 5px;
	text-transform: uppercase;
}
.about-text P:nth-child(3),
.about-text P:nth-child(4) {
	color: #7e7d7d;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
}
.about-text button {
	width: 120px;
	height: 40px;
	padding-right: 15px;
	color: aqua;
	outline: none;
	border: none;
	border-radius: 10px;
	font-family: calibri;
	background-color: rgb(78, 71, 71);
}
.services {
	height: 600px;
	background-color: white;
	padding: 2% 10% 0 10%;
}
.services-text {
	width: 500px;
	margin: 50px 0px;
}
.services-text p:nth-child(1) {
	font-weight: bold;
	font: 2em sans-serif;
	color: rgb(39, 22, 22);
	line-height: 30px;
	text-transform: uppercase;
}
.services-text p:nth-child(2) {
	font: 2em sans-serif;
	font-weight: bold;
	color: #3e3d3d;
	line-height: 5px;
}
.services-text p:nth-child(3) {
	font: 1em calibri;
	color: #7e7d7d;
}
.box1,
.box2,
.box3 {
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px cadetblue;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.box {
	display: flex;
	justify-content: space-between;
}
.box1 {
	background-image: url('https://images.unsplash.com/photo-1548259483-798906ada6bc?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDExOXx0b3dKWkZza3BHZ3x8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
}
.box2 {
	background-image: url('https://images.unsplash.com/photo-1613506543439-e31c1e58852b?ixid=MXwxMjA3fDB8MHx0b3BpYy1mZWVkfDEwNXx0b3dKWkZza3BHZ3x8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
}
.box3 {
	background-image: url('https://images.unsplash.com/photo-1615396947303-24d45bc713b4?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1MHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
}
.box1 span,
.box2 span,
.box3 span {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #f6f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
}
.box1 p:nth-child(2),
.box2 p:nth-child(2),
.box3 p:nth-child(2) {
	color: #f6f5f5;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;
}
.box1 p:nth-child(3),
.box2 p:nth-child(3),
.box3 p:nth-child(3) {
	color: wheat;
	font-family: calibri;
	text-align: center;
	width: 230px;
	margin: 0px 0px 20px 0px;
}
.box1 button,
.box2 button,
.box3 button {
	width: 100px;
	height: 30px;
	border: none;
	outline: none;
	background-color: white;
	border-radius: 5px;
}
/* contact section */
.contact {
	width: 100%;
	height: 280px;
	background-image: url('https://images.unsplash.com/photo-1615727040158-e2b84a5ca691?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1Nnx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact p {
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	border-bottom: 2px solid whitesmoke;
}
.contact button {
	width: 200px;
	height: 40px;
	background-color: white;
	outline: none;
	border: none;
	border-radius: 5px;
	font: 1em sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}
/* footer section */
footer {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
footer p {
	font-family: calibri;
}
footer p:nth-child(1) {
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(83, 77, 77);
	line-height: 10px;
	text-transform: capitalize;
}
footer p:nth-child(2) {
	font-size: 1rem;
	/* font-weight: bold; */
	color: grey;
	width: 600px;
	text-align: center;
	text-transform: uppercase;
	/* line-height: 10px; */
}
/* social icons styling */
.social {
	display: flex;
	justify-content: center;
	align-items: center;
}
.social a {
	width: 40px;
	height: 40px;
	background-color: oldlace;
	margin: 20px 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social a:hover,
.social-bar a:hover {
	/* background-color: #0000; */
	box-shadow: 2px 2px 12px black;
	transition: all ease 0.6s;
}
.copyright {
	color: rgb(129, 121, 134);
	font-size: 1rem;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

.social-bar {
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
}
.social-bar a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	border: 1px solid #cbcbcb;
	box-shadow: 2px 2px 12px gainsboro;
	border-radius: 50%;
}
